@import '../../style/variables';
.div__main{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;  
}

.div__main__container {
    max-width: 1160px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
   
}