



    $system-primary: #313037;
    $system-primary2: #5b5a62;
    $system-secondary: #a8a8a8;

    $bg-primary: #ffffff; //white
    $bg-primary2: #e7e7e7; //gray
    $bg-secondary: #f7f7f7; //light

    $contextual-color: #fc857f; //red

    $additional-orange: #fee9e2;
    $additional-purple: #f4eefd;
    $additional-blue: #d7e4fd;
    $additional-green: #caeff0;


